<p-panel header="Cuestionario: {{cuestionario}}">
    <p-table [value]="preguntas" autoLayout="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Enunciado</th>
                <th>Valor</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pregunta>
            <tr>
                <td>{{pregunta.codPregunta}}</td>
                <td>{{pregunta.enunciado}}</td>
                <td><p-rating [(ngModel)]="val[pregunta.codPregunta]"></p-rating></td>
                
            </tr>
        </ng-template>
    </p-table>
    <p-button label="Guardar Respuestas" icon="fa fa-check" iconPos="right"></p-button>
</p-panel>