<div *ngIf="selectUsuario()">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12">
      <!-- Left Side -->
      <div class="card card-w-title">
        <h1>Participar en el foro</h1>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-6">
            <textarea rows="4" cols="50" [(ngModel)]="tarea.calificacion" placeholder="Ingrese la calificacion de la tarea"  required>  </textarea>
          </div>
          <div class="ui-g-6 ui-md-4">
            <button pButton type="button" label="calificar" style="margin-bottom:10px" class="ui-button-raised" (click)="guardarTarea()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="card card-w-title">
  <h1>Participaciones</h1>
  <p-table [columns]="cols" [value]="foros" selectionMode="single" dataKey="codigo" [style]="{'margin-bottom':'20px'}" [(selection)]="anuncioSeleccionado"
      [responsive]="true" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="both">
      <ng-template pTemplate="caption">
          Foros
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData" (click)="seleccionarTarea()">
              <td>
                  {{rowData.codigo}}
              </td>
              <td>
                  {{rowData.tarea}}
              </td>
              <td>
                  {{rowData.nombrePersona}}
              </td>
              <td>
                  {{rowData.curso}}
              </td>
              <td>  
                  {{rowData.texto}}
              </td>
              <td>
                {{rowData.fechaEnvio}}
              </td>
            <div *ngIf="selectUsuario()">
              <td>
                <button pButton icon="fa-edit" (click)="editarEntregaTarea(rowData)"></button>
                &nbsp;&nbsp;
                <button pButton icon="fa-trash" (click)="eliminarEntregaTarea(rowData)"></button>
              </td>
            </div>
          </tr>
      </ng-template>
  </p-table>
</div>


